POSTGRES_URL="postgres://default:61fNlcpFvSnd@ep-quiet-cell-68872216-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_PRISMA_URL="postgres://default:61fNlcpFvSnd@ep-quiet-cell-68872216-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://default:61fNlcpFvSnd@ep-quiet-cell-68872216.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_USER="default"
POSTGRES_HOST="ep-quiet-cell-68872216-pooler.us-east-1.postgres.vercel-storage.com"
POSTGRES_PASSWORD="61fNlcpFvSnd"
POSTGRES_DATABASE="verceldb"

AUTH_URL=http://localhost:3000/api/auth